.main-box {
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    margin-bottom: 46px;
}

.main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text-bar {
    margin: 68px 148px 44px 43px;
}

.main-text-small {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
}

.main-text {
    width: 530px;
    height: 130px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.main-charater-text {
    width: 557px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}

.main-text-span {
    color: #46a358;
}

.main-images-bar {
    display: flex;
    width: 100%;
}

.small-tre {
    width: 135px;
    height: 135px;
    margin: 298px -185px 15px 0px;
}

.big-tre {
    width: 518px;
    height: 470px;
}

.main-button-shop-now {
    margin-top: 44px;
    background-color:46A358;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background-color: #46a358;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}