.card-info>a>img{
    transition: transform 1s ease;
    transform: 0.5s;
}

.card-info>a>img:hover {
    transform: translateX(15px) translateY(-15px) scale(1.2);
}


.email-btn{
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.email-btn:active {
    background-color: white;
    color: #46A358;
}

.contact-section {
    background: linear-gradient(90deg, rgba(237, 246, 239, 1) 0%, rgb(156, 218, 168) 54%, rgb(95, 204, 117) 100%);
    background-size: 150% 100%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.logo{
    animation: fly 2s ease-out forwards;
}

@keyframes fly {
    0% {
        transform: translateY(-100px) scale(0.5) rotate(-45deg);
        opacity: 0;
    }
        
    100% {
        transform: translateY(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}

.contact-box img {
    transition: transform 1s ease, opacity 1s ease;
}

.contact-box img:hover {
    transform: rotate(360deg);
    opacity: 1;
    scale: 1.2;
}

.contact-text {
    transition: transform 1s ease;
}

.contact-text:hover{
    transform: rotateX(360deg)
}
 
.sosial-media-image a {
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: translateX(150px);
    opacity: 0;
    animation: slide 0.6s ease-out forwards;
}

.sosial-media-image a:nth-child(1) {
    animation-delay: 0.2s;
}

.sosial-media-image a:nth-child(2) {
    animation-delay: 0.4s;
}

.sosial-media-image a:nth-child(3) {
    animation-delay: 0.6s;
}

.sosial-media-image a:nth-child(4) {
    animation-delay: 0.8s;
}

.sosial-media-image a:nth-child(5) {
    animation-delay: 1s;
}

@keyframes slide {
    0% {
        transform: translateX(250px) rotate(-120deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.sosial-media-image a:hover {
    scale: 1.2;
}


ul li {
    transition: transform 0.6s ease;
}

ul li:hover {
    transform: rotate(-3deg) scale(1.1);
    color: #46A358;
}


span {
    animation: color 6s linear infinite, bounce 5s ease forwards;
    transform: translateY(150px);
    
}

@keyframes color {
    0% {
        color: #727272;
    }

    25% {
        color: #c1e6c8;
    }

    50% {
        color: #46A358;
    }

    75% {
        color: #c1e6c8;
    }

    100% {
        color: #727272;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(150px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}



