.main-wrapper {
    margin: 0 auto;
    max-width: 840px;
    
}

.main-block {
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    
}

.main-nav-block, .main-nav-list {
    display: flex;
    justify-content: center;
}

.main-nav-block {
    justify-content: space-between;
}

.main-nav-list-right, .main-nav-list-left{
    display: flex;
    color: #3D3D3D;
}

.main-nav-list-left {
    gap: 40px;
}

.main-nav-list-right {
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.nav-list-right a {
    display: flex;
    align-items: center;
}

a{
    font-weight: 400;
    font-size: 15px;
    color: #3D3D3D;
}

a:hover{
    color:#46A358;
    font-weight: bold;
    text-decoration: underline;
}



.main-card-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.main-card-block {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    background-color: #FBFBFB;
}

.main-card-block:hover{
    border-top: 1px solid #46A358;
}


.plant-name{
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #3D3D3D;
}

.plant-price{
    padding-top: 6px;
    font-weight:700;
    font-size: 18px;
    color: #46A358;    
}

.plant-sale{
    padding-left: 16px;
    font-weight: 400;
    color: #A5A5A5;
}

.moving-panel{
    display: none;
    gap: 27px;
    position: absolute;
    top: 233px;
    left: 67px;
}

.main-card-block:hover .moving-panel {
    display: flex;
}

.nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.nav-btn:hover {
    background-color: rgb(242, 240, 237)
}

.sale-off{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #46A358;
    font-size: 16px;
    font-weight: 500;
    padding: 7px;
    position: absolute;
    top: 14px;
}