.contact-section {
    background: linear-gradient(90deg, rgba(237, 246, 239, 1) 0%, rgb(156, 218, 168) 54%, rgb(95, 204, 117) 100%);
}



.contact-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 22px 19px 23px; 
}

.contact-address, .contact-mail, .contact-phone{
    display: flex;
    align-items: center;
}

.contact-text{
    font-weight: 400;
    font-size: 14px;
    color: #3D3D3D;
    padding-left: 10px;
}

