.contact-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 22px 19px 23px;
    background: linear-gradient(90deg, rgba(237, 246, 239, 1) 0%, rgba(133, 209, 148, 1) 54%, rgba(82, 195, 104, 1) 100%);
}

.contact-address, .contact-mail, .contact-phone{
    display: flex;
    align-items: center;
}

.contact-text{
    font-weight: 400;
    font-size: 14px;
    color: #3D3D3D;
    padding-left: 10px;
}

